<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
    <link rel="stylesheet">
</head>

<body>
    <div class="main">
        Hello World
        <a href="/logout">Logout</a>
    </div>
</body>

</html>
